
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(lucy.jpg);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-family:'Segoe UI'
  
}

.top-wrapper p {
  color: white;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
  text-color:white;
}

.price{
  background-color: rgb(172, 136, 70);
  margin: 20px 0px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 30px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #ff0059;
}

.heading h2 {
  font-weight: normal;
  font-family:'Segoe UI';
}
.contents {
  display: flex;
}

.content {
  flex: auto;
}

.content-icon {
  position: relative;
  opacity: 0.5;
}

.content-icon:hover {
  opacity: 0.8;

.content-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: #fff;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #efefef;
}

.message {
  text-align: center;
}

.message h1 {
  font-weight: 900;
  font-size: 55px;
  padding-top: 64px;
  text-align:center;
}

.message p {
  font-weight: 600;
  font-size: 19px;
  padding-top: 20px;
  margin-bottom: 85px;
  text-align:center;
}
.contact {
  padding-bottom: 85px;
  text-align:center;
}
.message .button {
  padding: 12px 35px;
  margin-top: 65px;
  background: #ff0059;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 99px;
  transition: all .25s ease;
  transform: translateY(0);
  cursor: pointer;
  text-align:center;
}

.message .button:hover {
  box-shadow:0 5px 19px 0 rgba(255,0,89,.4);
  transform:translateY(-2px)
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  display: none;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  
}
